<div>
  <h1>Signup:</h1>


  <form class="example-form">
    <md-form-field>
      <input mdInput placeholder="First Name">
    </md-form-field>
    
    <md-form-field>
      <input mdInput placeholder="Last Name">
    </md-form-field>
    
    <md-form-field>
      <input mdInput placeholder="Email">
    </md-form-field>

    <md-form-field>
      <input mdInput placeholder="Password" type="password">
    </md-form-field>

    <br>
    <button md-raised-button color="primary">Signup</button>
  </form>

  <br>
  <br> already have an account? <a routerLink="/login" routerLinkActive="active">Login</a>

</div>